<?xml version="1.0"?>

<configuration>

  <configSections>
    <sectionGroup name="dotnetids">
      <section name="idsconfig" type="DOTNETIDS.IDSConfigHandler"/>
    </sectionGroup>
  </configSections>

  <dotnetids>
    <idsconfig>
      <!--Callbacks are methods the IDS will call upon each scan operation-->
      <callback assembly="Example" namespaceandtype="Example.TheTest" method="IDSEvent"/>
      <callback assembly="Example" namespaceandtype="Example.HandlerTest" method="IDSEvent2"/>
      
      <!--Page setup allows for specific settings for a page
      NB. These values will override the global behaviours-->
      <pagesetup page="HandlerTest.aspx">
        
        <!--This page specific callback will only occur on this page-->
        <callback assembly="Example" namespaceandtype="Example.HandlerTest" method="IDSEvent"/>
        
        <!--These are page settings, which will override global settings-->
        <cookieexclusion name="this_cookie_will_be_excluded"/>
        <exclusion name="this_will_be_excluded_from_all_types_of_scan"/>
        <getexclusion name="this_querystring_will_be_excluded"/>
        <headerexclusion name="this_header_will_be_excluded"/>
        <postexclusion name="this_post_value_will_be_excluded"/>
        <decodejs value="true"/>
        <decodeutf7 value="true"/>
        <scancookies value="true"/>
        <scanget value="true"/>
        <scanheaders value="true"/>
        <scankeys value="true"/>
        <scanpost value="true"/>
      </pagesetup>
      
      <!--These settings allow the exclusion of pages or a regular expression
      which is run against the entire request url-->
      <excludepage page="SmokeTest.aspx"/>
      <excludepage page="PostValidator.aspx"/>
      <excluderegex ignorecase="true" pattern=".+\.ico"/>
      <excluderegex ignorecase="true" pattern=".+\.png"/>
      <excluderegex ignorecase="true" pattern=".+\.gif"/>
      <excluderegex ignorecase="true" pattern=".+\.jpg"/>
      <excluderegex ignorecase="true" pattern=".+\.jpeg"/>
      <excluderegex ignorecase="true" pattern=".+\.css"/>

      <!--These are global settings-->
      <cookieexclusion name="this_cookie_will_be_excluded"/>
      <exclusion name="this_will_be_excluded_from_all_types_of_scan"/>
      <getexclusion name="this_querystring_will_be_excluded"/>
      <headerexclusion name="this_header_will_be_excluded"/>
      <postexclusion name="this_post_value_will_be_excluded"/>
      <decodejs value="true"/>
      <decodeutf7 value="true"/>
      <scancookies value="true"/>
      <scanget value="true"/>
      <scanheaders value="true"/>
      <scankeys value="true"/>
      <scanpost value="true"/>
    </idsconfig>
  </dotnetids>
  
  <appSettings/> 
  <connectionStrings/>
    
    <system.web>
      <httpModules>
        <add name="IDSModule" type="DOTNETIDS.IDSModule"/>
      </httpModules>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="false" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
